button{
    
        padding: 8px 20px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #1abc9c; /* Teal Button */
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        margin-right: 20px;
        margin-left: 10px;
      
}
button:hover{
        background-color: #074136; 
}