body{
    color: white;
}

.main-container{
    border: 1px solid #ccc;
    width: 600px;
    height: 80vh ;
    display: flex;
    align-items: center;
    background-color: rgb(28, 13, 57);
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-main-container{
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    height: 50px ;
}
.select-div select{
  padding: 8px 5px;
  outline: none;
  border-color: blue;
  border-radius: 10px;
}
.input-div input{
    padding: 8px 5px;
    outline: none;
    border-color: red;
    border-radius: 10px;
    text-align: center;
}